<%- include('partials/header.ejs') %>

<body>


        <nav>
            <a href="/page1">HOME</a>
            <a href="/page2">VIRTUALIZER</a>
            <a href="/page3">API</a>
            <a href="/page4">RESOURCE MANAGER</a> 
        </nav>
         <br /><br />
         
         
         
         <main>
            <div>

                
            <figure>
                <img id="page1pic" src="img/api.jpg" alt="Picture of api" class="center">
            </figure>
                
                
                <h2>APPLICATION PROCESSING INTERFACE (API)</h2>
                <p>API is software which lets 2 applications interact with one another. Examples of an API are Facebook, Instagram, and Snapchat.</p>
                

            </div>
        </main>
        
        
        
        
        <footer>
<a href="https://www.mulesoft.com/resources/api/what-is-an-api">Source</a>
        </footer>
        
        <%- include('partials/footer.ejs') %>
    </body>